body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.container button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.container button:not(:first-child) {
  margin-left: 16px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
